@import "../../../global.less";

.root {
  margin-top: 16px;
  display: block;
  color: #434343 !important;
  transition: all 500ms ease-in-out;
  cursor: pointer;
  z-index: 12;
  animation: zoom-in 300ms 1 alternate ease-in-out;
  user-select: none;

  @media screen and (max-width: 575px) {
    font-size: 24px !important;
    padding-bottom: 12px;
  }

  &:hover {
    transform: rotate(180deg);
  }
}
