@import "~antd/lib/style/themes/default.less";

.root {
  margin: 0 auto;
  padding: 8px 8px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background: #fafafa;
  flex-direction: column;
}

.add-button {
  // margin-top: 8px;
  margin-bottom: 8px;
}
